.menu-company {
  position: relative;
  font-size: 1.2vw;
  padding-left: 20px;
  margin-top: 10px;
  transition: color 0.4s;

  &:first-child {
    margin-top: 0;
  }

  &:hover {
    color: #ff708e;
  }
};

.menu-company.active {
  color: #ff708e;
  border-left: 3px solid #ff708e;
};

@media screen and (max-width: 768px) {
  .menu-company {
    font-size: 10px;
    padding-left: 10px;
  }
}

@media screen and (max-width: 425px) {
  .menu-company {
    font-size: 8px;
    padding-left: 5px;
  }
}